body {
  font-family: Rozha One,
sans-serif;
  margin: 0;
  background: #86C8D5;
  color: #333;
  line-height: 1.6;
}

header  {
background: #348494;
color: white;
padding:2rem;
text-align: center;
}

section {
padding: 2rem;
max-width: 800px;
margin: auto;
}

h2 {
 color: #4CAF50
}

footer {
   text-align: center;
padding:1rem;
background: #333;
color: white;
padding: 1rem;
}

a {
  color:#1E4D57;
  test-decoration: none;
} 
a:hover {
  text-decoration: underline ;
} 
